/* elements */
body {
    background-image:url('deer.jpg');
    font-family: "Comic Sans MS";
}

a:link {
  color: #336699;
  text-decoration: none;
}

a:visited {
  color: #660000;
  text-decoration: none;
}

a:hover {
  color: #336699;
}

dl dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5rem 0;
}